body{
  color: #40514E;
  margin: 0;
  text-align: center;
font-family: 'Merriweather', serif;

}
h1{
  color: #66BFBF;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
}
h2{
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;
}
h3{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;

}
p{
  line-height: 2;
}
hr{
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}
a{
  color:#11999E;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  margin: 10px 20px;
}
a:hover{
  color: #EAF6F6;
}
.top-container{
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}
.middle-container{
  margin: 100px 0;
}
.bottom-container{
  background-color: #66BFBF;
  padding: 50px 0 20px;
}
.bottom-cloud
{
  position: absolute;
  left: 650px;
}
.top-cloud{
  position: absolute;
  right: 600px;
  margin-top: 50px;
}
.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}
.intro{
  width: 30%;
  margin: auto;
  font-size: bold;
}
.contact-message{
  width: 104%;
  margin: 40px auto 60px;
  font-size: bold;
}
.copyright{
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
  font-size: bold;
}
.my-image{
  width: 12%;
  margin-top: 5%;
  margin-bottom: 0;
}
.code-img{
  width: 17%;
  float: left;
  margin-right: 30px;
}
.icecream-image{
    width: 20%;
    float: right;
    margin-left: 30px;
}
.msg{
  width: 40%;
  margin: auto;
  padding: 15px;
}
.btn {
  background: #11cdd4;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  text-decoration: none;
}
